body {
    background-color: #9966ff;
    color: black;
    font-family: 'Roboto', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

p {
    line-height: 1.5;
    font-size: 24px;
}

img {
    width: 100%;
}

h1 {
    background-color: rgb(95, 95, 32);
    font-size: 48px;
    line-height: 1.5;
}

li {
    font-size: 20px;
    line-height: 1.5;
}
a{
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.5;
    display: block;
}